*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.artCard{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 25rem;
}

.wrapper{
    width: 25rem;
    height: 30rem;
    overflow: hidden;
    margin: 2rem;
    border-radius: 4rem;
    background-color: #e5e2e2;
      
}

.imageContainer{
    overflow: hidden;
    width: auto;
    height: 15rem;
       
}
.imageContainer img{
    width: 25rem; 
}
.newsTextContainer {
    margin: 0.2rem;
}

.newsTextContainer h3{
    padding-top: 1rem;
    font-size: 1rem;
    letter-spacing: 0.1rem;
   
}
.dateAndCategory{
    font-size: 1rem;
    float: left;
    padding: 0.4rem;
}

.newsInfo{
padding: 1rem;
font-size: 1.2rem;
}

.containerBtn {
    float: right;
    margin: 0.7rem;
    padding-right: 1rem;
}
.readMoreBtn{
    margin-top: 1rem;
    width: 10rem;
    padding: 0.2rem;
    background-color: #536354;
    color: #fff;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
}