
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.catalogContainer h2{
text-align: center;
margin: 2rem;
font-size: 3rem;
}


.serverError {
    padding: 1.5rem;
    font-size: 2rem;
    text-align: center;
}

.NoNewsContainer{
    width: auto;
    height: 100vh;
    text-align: center;
    margin: 2rem auto;

}

.NoNews{
    font-size: 2em;
}